DATABASE_URL="mysql://root:password@localhost:3306/dexa_db"
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=dexa_db
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=dexa_user
MYSQL_PASSWORD=password

RUSTFS_ENDPOINT=http://localhost:3001
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_BUCKET=dexa-bucket
RUSTFS_REGION=us-east-1
EXTERNAL_RUSTFS_PORT=3001
INTERNAL_RUSTFS_PORT=3001

JWT_SECRET=your_jwt_secret_key
JWT_ACCESS_EXPIRED=1d
JWT_ISSUER=dexa-api

PORT=3000
EXTERNAL_PORT=3000
INTERNAL_PORT=3000
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
